@color-bg: #eee;
@color-primary: #616161;
@color-text: #262626;
@color-secondary: #6c757d;
@color-danger: #f44336;

.material-icons {
  vertical-align: -0.15em;
}

.bmd-form-group label {
  color: #666;
}

.navbar .navbar-nav .nav-item {
  .nav-link:hover,
  .nav-link:focus {
    color: inherit;
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

.container-custom {
  width: 90%;
}

.btn-ghost {
  color: #fff;
  background: transparent;
  border: solid 1px #fff;

  &:hover,
  &:focus {
    background-color: #fff;
    color: @color-text;
    border-color: #fff;
  }

  &:active,
  &:active:focus {
    background-color: darken(#fff, 10%);
    color: @color-text;
    border-color: #fff;
  }
}

.card {
  .card-header-pale:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(240, 240, 240, 0.4);
    background: linear-gradient(60deg, #fafafa, #f5f5f5);
  }

  .card-header-dim:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(158, 158, 158, 0.4);
    background: linear-gradient(60deg, #757575, #616161);
  }
}

table.table {
  text-align: center;

  th,
  td {
    border: none;
  }

  tbody tr {
    border-top: solid 1px #ddd;
  }
}

a[data-rank]:hover,
a[data-rank]:focus {
  color: inherit;
}

a[data-rank] {
  &,
  &:hover,
  &:focus {
    color: inherit;
  }

  .rank {
    position: relative;
    font-size: 0;
    line-height: 0;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      bottom: 7px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #ccc;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #ccc;
    }

    &.rank-asc::before {
      border-bottom-color: #fb8c00;
    }

    &.rank-desc::after {
      border-top-color: #fb8c00;
    }
  }
}
