@import './style.less';
@color-active: #1890ff;
@color-title: rgba(0, 0, 0, 0.65);
@color-title-process: rgba(0, 0, 0, 0.85);
@color-title-wait: rgba(0, 0, 0, 0.45);

// steps
.steps {
  display: flex;
  font-size: 0;
  margin: 30px 0;

  .steps-item {
    position: relative;
    display: inline-block;
    flex: 1;
    overflow: visible;

    &:last-child {
      flex: none;
      .steps-item-tail {
        display: none;
      }
    }

    &.steps-item-finish {
      .steps-item-tail::after {
        background-color: @color-active;
      }

      .steps-item-icon .steps-icon-dot {
        background: @color-active;
      }

      .steps-item-content .steps-item-title {
        color: @color-title;
      }
    }

    &.steps-item-process {
      .steps-item-icon {
        width: 10px;
        height: 10px;
        line-height: 10px;

        .steps-icon-dot {
          top: -1px;
          background: @color-active;
        }
      }

      .steps-item-content .steps-item-title {
        color: @color-title-process;
        font-weight: 500;
      }
    }

    &.steps-item-wait {
      .steps-item-icon .steps-icon-dot {
        background: rgba(0, 0, 0, 0.25);
      }

      .steps-item-content .steps-item-title {
        color: @color-title-wait;
      }
    }

    &:first-child .steps-icon-dot {
      left: 2px;
    }

    .steps-item-tail {
      position: absolute;
      top: 2px;
      width: 100%;
      margin: 0 0 0 70px;
      padding: 0;
      font-size: 0;
      line-height: 0;

      &::after {
        content: '';
        display: inline-block;
        width: calc(100% - 20px);
        height: 3px;
        background: #e8e8e8;
        border-radius: 1px;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        margin-left: 12px;
      }
    }

    .steps-item-icon {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-left: 67px;
      margin-right: 8px;
      font-size: 16px;
      padding-right: 0;
      line-height: 8px;
      vertical-align: top;
      background: transparent;
      border: 0;

      .steps-icon {
        position: relative;
        top: -1px;
        color: @color-active;
        line-height: 1;

        .steps-icon-dot {
          position: relative;
          float: left;
          width: 100%;
          height: 100%;
          border-radius: 100px;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          &::after {
            position: absolute;
            top: -12px;
            left: -26px;
            width: 60px;
            height: 32px;
            background: rgba(0, 0, 0, 0.001);
            content: '';
          }
        }
      }
    }

    .steps-item-content {
      display: block;
      width: 140px;
      text-align: center;

      .steps-item-title {
        line-height: 1.5;
        position: relative;
        display: inline-block;
        color: rgba(0, 0, 0, 0.65);
        font-size: 16px;
      }
    }
  }
}

// web uploader

.webuploader-container {
  position: relative;

  label {
    margin-bottom: 0;
  }
}

.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: @color-info;
  padding: 18px 36px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  vertical-align: middle;
  margin: 0;
  line-height: 1.5;
  user-select: none;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, 0.14),
    0 3px 1px -2px hsla(0, 0%, 60%, 0.2), 0 1px 5px 0 hsla(0, 0%, 60%, 0.12);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.webuploader-pick-hover {
  background-color: darken(@color-info, 5%);
  box-shadow: 0 14px 26px -12px fade(@color-info, 42%),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px fade(@color-info, 20%);
}

.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none;
}

// form-control

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:disabled,
  &[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }

  &:read-only {
    background: none;
  }
}

select.form-control {
  -webkit-appearance: menulist;

  &:focus::-ms-value {
    color: #495057;
    background-color: #fff;
  }

  &:not([size]):not([multiple]) {
    height: calc(1.5em + 0.75rem + 2px);
  }
}

textarea.form-control {
  overflow: auto;
  resize: vertical;
  height: auto;
}

// main

.card .content {
  width: 100%;

  .step {
    display: none;
    border: dashed 1px #ddd;

    .step-wrapper {
      width: max-content;
      margin: 50px auto;
      text-align: center;
    }

    &.current {
      display: block;
    }

    &.step-1 {
      border-width: 3px;
      background-color: #fafafa;

      .cur-file {
        margin-bottom: 1em;
        display: none;

        &.show {
          display: block;
        }
      }

      p {
        color: #aaa;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    &.step-2 {
      padding: 15px 20px;

      .form-title {
        color: @color-info;
        font-weight: normal;
        font-size: 17px;
        line-height: 1.5;
        margin: 0.5em 0;
      }

      .required {
        color: @color-danger;
        position: absolute;
        right: -14px;
        font-weight: 600;
        font-size: 20px;
        bottom: 14px;
      }

      .form-control.error {
        border-color: lighten(@color-danger, 15%);
        box-shadow: 0 0 0 0.2rem fade(@color-danger, 25%);
      }
    }

    &.step-3 {
      .icon {
        width: 30px;
        height: 30px;
        vertical-align: -0.25em;
      }
    }
  }

  .nav-action {
    margin-top: 15px;
    text-align: right;

    .btn {
      display: none;
    }

    &.step-1 #navNext {
      display: inline-block;
    }

    &.step-2 #navPrev,
    &.step-2 #startUpload {
      display: inline-block;
    }
  }
}
