// out: ../css/admin.min.css, compress: true, sourceMap: false

@import "./style.less";
@import "./component/chartist.less";

#chart_pie_1,
#chart_pie_2 {
  .ct-chart-custom();
}

.card .card-header-pale .ct-legend li {
  color: @color-text;
}

.date-range {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
  width: max-content;
}

#table_rank tr {
  th:first-child,
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5),
  td:first-child,
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    text-align: center;
  }
}
