// out: ../css/home.min.css, compress: true, sourceMap: false

@import './style.less';
@import './component/result_table.less';

.card.user {
  .card-header h3 {
    margin-top: 0;
  }

  .stats {
    text-align: center;
    margin: 15px 0;

    p {
      color: @color-info;
      font-size: 20px;
    }
  }
}


