a[data-rank] {
  &,
  &:hover,
  &:focus {
    color: inherit;
    cursor: pointer;
  }

  .rank {
    position: relative;
    font-size: 0;
    line-height: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      will-change: border-color;
      transition: border-color 0.15s linear;
    }

    &::before {
      bottom: 7px;
      border-bottom: 5px solid #ccc;
    }

    &::after {
      bottom: 0;
      border-top: 5px solid #ccc;
    }

    &.rank-asc::before {
      border-bottom-color: #fb8c00;
    }

    &.rank-desc::after {
      border-top-color: #fb8c00;
    }
  }
}
